<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/background.css" />
    <title>WRDS</title>
  </head>
  <body>
    <div class="container p-5" style="background-color: #b2ebf2">
      <p class="h1">Check Your Information</p>
      <form action="/ocr" method="POST">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name</span>
          <input
            type="text"
            class="form-control"
            name="name"
            value="<%= id.Name %>"
            aria-label="your name"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2">Address</span>
          <input
            type="text"
            name="address"
            class="form-control"
            value="<%= id.Address %>"
            aria-label="address"
            aria-describedby="basic-addon2"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">ID</span>
          <input
            type="text"
            name="id"
            class="form-control"
            id="basic-url"
            aria-describedby="basic-addon3"
            value="<%= id.ID %>"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Gender</span>
          <input
            type="text"
            name="gender"
            class="form-control"
            aria-label="gender"
            value="<%= id.Gender %>"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Religion</span>
          <input
            type="text"
            name="religion"
            class="form-control"
            value="<%= id.Religion %>"
            aria-label="Religion"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Grade</span>
          <input
            type="text"
            name="grade"
            class="form-control"
            value='<%= cert["المجموع"]%>'
            aria-label="grade"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Administration</span>
          <input
            type="text"
            name="administration"
            class="form-control"
            value='<%= cert["المديرية"]%>'
            aria-label="administration"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">First Foreign Language</span>
          <input
            type="text"
            name="first_foreign_language"
            class="form-control"
            value='<%= cert["اللغة الأولى"]%>'
            aria-label="first foreign language"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Second Foreign Language</span>
          <input
            type="text"
            name="second_foreign_language"
            class="form-control"
            value='<%= cert["اللغة الثانية"]%>'
            aria-label="second foreign language"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">School</span>
          <input
            type="text"
            name="school"
            class="form-control"
            value='<%= cert["المدرسة"]%>'
            aria-label="school"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Educational Administration</span>
          <input
            type="text"
            name="educational_administration"
            class="form-control"
            value='<%= cert["الإدارة التعليمية"]%>'
            aria-label="educational administration"
          />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
    <script>
      let inputs = document.querySelectorAll("input");
      let btn = document.querySelector("button");
      btn.disabled = false;
      inputs.forEach((input) => {
        if (input.value == "") {
          btn.disabled = true;
        }
      });
      inputs.forEach((input) => {
        input.addEventListener("input", () => {
          btn.disabled = false;
          inputs.forEach((input) => {
            if (input.value == "") {
              btn.disabled = true;
            }
          });
        });
      });
    </script>
  </body>
</html>
